@{ 
    ViewBag.Title = "О доставке";
}

<div class="row mb-5">
    <div class="shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>О доставке</h3>
            </div>
            <div class="card-body">
                <h2 class="text-center">Общие условия доставки</h2>
                <p>
                    Для заказа вам необходимо заполнить форму заказа. Заказ будет отправлен на указанный адрес электронной почты.
                    Чтобы доставить заказ другим способом (курьер, самовывоз), пожалуйста, свяжитесь с обратной связью или позвоните администрации сайта +37533XXX-XX-XX.
                </p>
            </div>
        </div>
    </div>
</div>