@{ 
    ViewBag.Title = "О нас";
}

<div class="row mb-5">
    <div class="shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>О нас</h3>
            </div>
            <div class="card-body">
                <h2 class="text-center">Добро пожаловать на Заказ еды!</h2>
                <p>
                    Заказ еды через интернет - магазин для доставки продуктов питания. Приложение позволяет вам заказывать еду прямо в любое удобное место.
                    Заказы оформляются в соответствии с требованиями администратора. Заказ еды удобен и быстр.
                    Буквально с любого устройства вы можете оформить заказ, используя только браузер.
                </p>
                <div>
                    <h3 class="text-center">Наши контакты</h3>
                    <span>Телефон: +375(33)XXX-XX-XX</span>
                    <span>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://wwww.vk.com/"><i class="fab fa-vk"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>