@model WebApplication.Models.Provider.AddProviderViewModel

@{
    ViewBag.Title = "Добавить доставщика";
}

<div class="row mb-5">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
                <h3>Добавить доставщика</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Provider" asp-action="Add"
                      asp-route-searchSelectionString="@ViewBag.SearchSelectionStriong" asp-route-searchString="@ViewBag.SearchString"
                      enctype="multipart/form-data">

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group col-12">
                        <label for="file">Изображение</label><br/>
                        <input type="file" name="uploadedFile" id="file" /><br>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Email"></label>
                        <span class="text-danger" asp-validation-for="Email"></span><br />
                        <input class="form-control" asp-for="Email" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Name"></label>
                        <span class="text-danger" asp-validation-for="Name"></span><br />
                        <input class="form-control" asp-for="Name" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="Info"></label>
                        <span class="text-danger" asp-validation-for="Info"></span><br />
                        <textarea rows="3" class="form-control" asp-for="Info"></textarea>
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="TimeWorkWith"></label>
                        <span class="text-danger" asp-validation-for="TimeWorkWith"></span><br />
                        <input type="time" class="form-control" asp-for="TimeWorkWith" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="TimeWorkTo"></label>
                        <span class="text-danger" asp-validation-for="TimeWorkTo"></span><br />
                        <input type="time" class="form-control" asp-for="TimeWorkTo" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="WorkingDays"></label>
                        <span class="text-danger" asp-validation-for="WorkingDays"></span><br />
                        <input class="form-control" asp-for="WorkingDays" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="IsActive"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span><br />
                        <input class="form-control" asp-for="IsActive" />
                    </div>

                    <div class="form-group col-12">
                        <label asp-for="IsFavorite"></label>
                        <span class="text-danger" asp-validation-for="IsFavorite"></span><br />
                        <input class="form-control" asp-for="IsFavorite" />
                    </div><br />

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <a asp-action="Index" class="btn btn-warning"
                           asp-route-searchSelectionString="@ViewBag.SearchSelectionStriong" 
                           asp-route-searchString="@ViewBag.SearchString" >Назад</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> 